html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
  font-style: Georgia, serif;
}

h1 {
  font-style: "Dosis", sans-serif;
	font size: 1.5rem
}

h2 {
	display: inline-block;
}
